*{
    padding: 0px;
    margin: 0px;
}

.benifits{
    height: 100vh;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.benifits .benifits-wrapper-container{
    height: 80%;
    width: 80%;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
}
.benifits .benifits-wrapper-container .benifits-content-container{
    height: 20%;
    width: 100%;
    background-color: red;
}
.benifits .benifits-wrapper-container .benifits-cards-container{
    height: 80%;
    width: 80%;
    background-color: rgb(106, 106, 106);
    position: absolute;
    top:15%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.benifits .benifits-wrapper-container .benifits-cards-container .card{
    height: 40%;
    width: 40%;
    background-color: white;
}


/* 
.benifits .benifits-content-container
{
    height: 15%;
    width: 100%;
    background-color: royalblue;
}
.benifits .benifits-cards-container
{
    height: 70%;
    width: 80%;
    background-color: rgb(104, 134, 222);
    position: absolute;
} */
