*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --fs-75:75px;
    --fs-48:48px;
    --fs-46:46px;
    --fs-40:40px;
    --fs-36:36px;
    --fs-32:32px;
    --fs-24:24px;
    --fs-20:20px;
    --primary-color:#ADDA3A;
    --secondary-color:#EBFFB7;
    --tertiary-color:black;
    --fw-bold:700;
    --fw-semibold:600;
    --fw-regular:400;
}

header {
    width: 100%;
    height: 10%;
    background-color:white;
}

header nav {
    width: 100%;
    height: 100%;
    background-color:var(--primary-color); 
    display: flex;
    justify-content:center;
    align-items:center;
    /* background-color: aqua; */
}

header  nav .wrapper{
    width: 90%;
    height: 100%;
    font-size: var(--fs-20);
    background-color:var(--primary-color); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: cadetblue; */
}

header  nav .wrapper .my_logo {
    width: 12%;
    height: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header  nav .wrapper h4 {
    font-size: 4opx;
    color:rgb(0, 0, 0);
    /* margin-left: -30%; */
}


header  nav .wrapper #nav-btn {
    display: none;
}
   

header  nav .wrapper ul {
    font-size: var(--fs-20);
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 80px;
    list-style: none;
}

header  nav .wrapper ul li a{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    color: black;
    font-size: var(--fs-20);
}

#nav-btn .nav-icon {
    font-size: 32px;
    color: black;
    display: none;
}

header nav .wrapper label {
    display: none;
}





 
@media only screen and (max-width:1496px){
    header nav .wrapper .logo {
        margin-left:1%;
}
    .footer .footer_wrapper .footer_one p{
        margin-top: -85%;
}
}

@media only screen and (max-width:1495px){
    header nav .wrapper label{
        display: none;
 }
 
}

@media only screen and (max-width:1440px){
    header nav .wrapper h4{
        margin-left:-10%;
    }
}


@media only screen and (max-width:1333px)
{
    .nav-icon{
        display: block;
        font-size: 40px;
        color: var(--tertiory-color);
    }

    header nav .wrapper ul {
        background-color: var(--secondary-color);
        color: white;
        position: absolute;
        top:40vh;
        top:60px;
        /* left:40%; */
        right: 100%;
        width: 30%;
        height: -90vh;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 40px 0px;
        transition-duration: 0.07s;
    }

    header nav .wrapper ul li {
        margin-left:20%;
    }
    header nav .wrapper .logo {
        margin-left: 3%;
    }

    #nav-btn:checked ~ ul {
        left: 0px;
    } 
    header nav .wrapper label {
        display: block;
    }
  
}

@media only screen and (max-width:1300px)
{
    header nav .wrapper h4{
        margin-left:-15%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 10%;
    }
}

@media only screen and (max-width:1170px)
{
    header nav .wrapper h4{
        margin-left:-20%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 15%;
    }
}

@media only screen and (max-width:1150px)
{
    header nav .wrapper h4{
        margin-left:-25%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 20%;
    }
}

@media only screen and (max-width:1000px){
    header nav .wrapper h4{
        margin-left:-35%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 35%;
    }
}



@media only screen and (max-width:835px){
    header nav .wrapper h4{
        margin-left:-50%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 50%;
    }
}

@media only screen and (max-width:800px){
    header nav .wrapper h4{
        margin-left:-60%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 60%;
    }
}

@media only screen and (max-width:750px){
    header nav .wrapper h4{
        margin-left:-70%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 70%;
    }
}


@media only screen and (max-width:680px){
    header nav .wrapper h4{
        margin-left:-80%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 80%;
    }
}

@media only screen and (max-width:650px){
    header nav .wrapper h4{
        margin-left:-90%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 90%;
    }
}

@media only screen and (max-width:625px){
    header nav .wrapper h4{
        margin-left:-150%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 150%;
    }
}


@media only screen and (max-width:500px){
    header nav .wrapper h4{
        margin-left:-180%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 180%;
    }
}

@media only screen and (max-width:450px){
    header nav .wrapper h4{
        margin-left:-220%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 220%;
    }
}

@media only screen and (max-width:400px){
    header nav .wrapper h4{
        margin-left:-250%;
    }
    header nav .wrapper .my_logo img{
        margin-left: 250%;
    }
}